.grid {
    	-fx-background-color: white;
	-fx-border-color: black;
}

.commandLine {
	-fx-padding-top: 40px;
}

.list-view {
	-fx-padding: 5px;
	-fx-right: 20px;

}


.line {
    -fx-stroke-width: 1px;
    -fx-stroke: gray;
}




.leftColumn, .rightColumn {
	-fx-padding: 10px;
}


#table .table-cell {
	-fx-alignment: CENTER;

}


#tabPane{
	-fx-background-color: white; 
	-fx-border-color: LightGray;
}